{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "standard",
  "plugins": [
    "svelte3"
  ],
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": ["error", "always-multiline"]
  },
  "settings": {

  }
}
