{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "cypress/globals": true
  },
  "extends": "standard",
  "plugins": [
    "svelte3",
    "cypress"
  ],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    "import/first": "off",
    "semi": [2, "always"],
    "comma-dangle": ["error", "always-multiline"],
    "no-multiple-empty-lines": "off"
  }
}
