html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: #2e2f40;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1;
}

.row {
  margin: 0 -4px;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  float: left;
  padding: 0 4px;
  box-sizing: border-box;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

label {
  font-size: 16px;
  display: block;
  margin: 0 0 8px;
  color: rgba(255, 255, 255, 0.4);
}

input[type="text"] {
  font-size: 18px;
  background: #37425f;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #4d6deb;
  padding: 0 6px;
  margin: 0 0 16px;
  outline: none;
  box-sizing: border-box;
}

button.button {
  font-size: 18px;
  background: #4d6deb;
  color: #fff;
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button.button.secondary {
  background: #37425f;
}

input[type="text"]:focus, button.button:focus {
  box-shadow: 0 0 0 2px #37425f;
}

button.button:active {
  background: #434c66;
}

.example {
  max-width: 680px;
  margin: 100px auto 20px;
  padding: 0 10px;
}

.example-title {
  margin: 0 0 50px;
}

.example-title h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 8px;
  color: #fff;
}

.example-title h1 a {
  vertical-align: super;
  font-size: 14px;
  font-weight: 400;
  color: #4d6deb;
  margin: 0 0 0 5px;
  text-decoration: none;
}

.example-title h1 a:hover {
  text-decoration: underline;
}

.example-title p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.position-select {
  overflow: hidden;
  background: #37425f;
  color: #fff;
  width: 100%;
  height: 40px;
  margin: 0 0 16px;
  padding: 0;
  border-radius: 6px;
  border: 2px solid #4d6deb;
  overflow: hidden;
  box-sizing: border-box;
  outline: none;
}

.position-select-row {
  border-bottom: 1px solid #4d6deb;
  height: 50%;
}

.position-select-row:last-child {
  border-bottom: none;
}

.position-select button {
  border: none;
  border-left: 1px solid #4d6deb;
  border-right: 1px solid #4d6deb;
  background: none;
  color: #fff;
  width: 33.33%;
  height: 100%;
  float: left;
  cursor: pointer;
}

.position-select button:first-child,
.position-select button:last-child {
  border-left: none;
  border-right: none;
}

.position-select button:hover {
  background: #434c66;
}

.position-select button.active {
  background: #4d6deb;
}

@media all and (max-width: 680px) {
  .row {
    margin: 0;
  }

  .col-1-3 {
    width: 100%;
    padding: 0;
  }

  .col-1-4 {
    width: 100%;
    padding: 0;
  }

  .position-select {
    height: 60px;
  }
}

.show-custom {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

input[type="checkbox"] {
  display: none;
}

label.label-show-custom {
  margin-bottom: 0;
  transition: color .3s ease;
  font-size: 14px;

  cursor: pointer;
}

.toggle {
  margin-right: 10px;
  display: block;
  position: relative;
  width: 40px;
  height: 22px;
  border: 1px solid #4d6deb;
  border-radius: 15px;
  background-color: #37425f;

  cursor: pointer;
}

.toggle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  margin: 3px;
  border-radius: 50%;
  background-color: #4d6deb;
  transition: left .2s ease;
}

input[type="checkbox"]:checked + .toggle:after {
  left: calc(100% - 22px);
}

.label-show-custom.active {
  color: #fff;
}

.additional-tools {
  overflow: hidden;
  padding: 10px 0 0;
  margin: 0 0 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
